@font-face{
	font-family: 'raleway-black';
	src: 	url('./fonts/raleway/raleway-black-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-black-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-black-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'raleway-bold';
	src: 	url('./fonts/raleway/raleway-bold-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-bold-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'raleway-bolditalic';
	src: 	url('./fonts/raleway/raleway-bolditalic-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-bolditalic-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-bolditalic-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'raleway-extrabold';
	src: 	url('./fonts/raleway/raleway-extrabold-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-extrabold-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'raleway-extrabolditalic';
	src: 	url('./fonts/raleway/raleway-extrabolditalic-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-extrabolditalic-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-extrabolditalic-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'raleway-extralight';
	src: 	url('./fonts/raleway/raleway-extralight-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-extralight-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-extralight-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'raleway-extralightitalic';
	src: 	url('./fonts/raleway/raleway-extralightitalic-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-extralightitalic-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-extralightitalic-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'raleway-italic';
	src: 	url('./fonts/raleway/raleway-italic-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-italic-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-italic-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'raleway-light';
	src: 	url('./fonts/raleway/raleway-light-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-light-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'raleway-lightitalic';
	src: 	url('./fonts/raleway/raleway-lightitalic-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-lightitalic-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-lightitalic-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'raleway-medium';
	src: 	url('./fonts/raleway/raleway-medium-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-medium-webfont.ttf') format('truetype');
}

@font-face{
	font-family: 'raleway-blackitalic';
	src: 	url('./fonts/raleway/raleway-blackitalic-webfont.woff') format('woff'),
			url('./fonts/raleway/raleway-blackitalic-webfont.woff2') format('woff2'),
	     	url('./fonts/raleway/raleway-blackitalic-webfont.ttf') format('truetype');
}
