{include file="cab.html"}


  <h1>Bienvenido a SWPE</h1>
  
 

    <!-- Optional theme -->



    <div class="container">
        <h1>Inventario</h1>

      <div class="BuscarInput"> <span class="input-group-addon">Buscar</span>
        <input id="filtrar" type="text" class="form-control" placeholder="Ingrese palabra clave del Articulo">
      </div>
<br>
        <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Articulo</th>
            <th>Marca</th>
            <th>Stock</th>            
            <th>Ubicación</th>
            <th>Opción</th>
          </tr>
        </thead>
        <tbody class="buscar">
          <tr><td>90410741</td><td>Jgo de Gomas de Valvula Optra</td><td>GM Certificado</td><td>1</td><td>B2</td><td>+ - x <a href="" data-toggle="modal" data-target="#exampleModalLong">D</a></td></tr>
          <tr><td>90215296</td><td>Jgo de Gomas de Valvula Corsa</td><td>GM Certificado</td><td>2</td><td>B2</td><td>+ - x D</td></tr>
          <tr><td>XS6E-6571-AB</td><td>Jgo de Gomas de Valvula Fiesta Ka</td><td>Ford</td><td>1</td><td>B2</td><td>+ - x D</td></tr>
        </tbody>
      </table>
    </div>
  </body>
</html>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Detalles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <input class="form-control" value="90410741" id="ID" type="text">
                <input class="form-control" value="Jgo de Gomas de Valvula Optra" id="Articulo" type="text">
                <input class="form-control" value="GM Certificado" id="Marca" type="text">
                <input class="form-control" value="2" id="Cant" type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{include file="pie.html"}
