


<script src="{$cfg.vendor}/jquery/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="{$cfg.vendor}/popper/popper.min.js"></script>
<!--<script src="{$cfg.vendor}/jquery/jquery-3.3.1.min.js"></script>-->
<script src="{$cfg.vendor}/bootstrap4.0/js/bootstrap.min.js"></script>

      <script type="text/javascript">
        $(document).ready(function () {

            (function ($) {

                $('#filtrar').keyup(function () {

                    var rex = new RegExp($(this).val(), 'i');
                    $('.buscar tr').hide();
                    $('.buscar tr').filter(function () {
                        return rex.test($(this).text());
                    }).show();

                })

            }(jQuery));

        });
      </script>    

</body>
</html>